html,
body {
    width: 100%;
    height: 100%;
}

.content {
    height: 400px !important
}


.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #324960;
}




.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


input[type=file] {
    width: 600px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.interactive-button {
    margin-top: 10px;
    background: #02A9F1;
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0px;
    height: 45px;

}


.interactive-button :active {
    background: #02A9F1;

}


.detail {

    width: 120px;
    color: #FFFFFF;
    text-decoration: none;
    /* no underline */
}

button .detail:hover {

    width: 120px;
    color: #0C90C9;
    text-decoration: none;
    /* no underline */
}

.text-deskripsi {
    margin-right: 27px;
}

.carousel-caption {
    top: 35%;
    transform: translateY(-50%);
    margin-top: 5%;
    bottom: auto;
  
    max-width: 90%;
    width: 80%;
    left: 10%;
    right: 10%;
}

.custom-first{
    background: rgba(0, 0, 0, 0.55);
}

.custom-second{
    background: rgba(255, 255, 255, 0.9);
}


/* .carousel-caption .step {
    top: 35%;
    transform: translateY(-50%);
    margin-top: 5%;
    bottom: auto;
    background: rgba(255, 255, 255, 0.55);
    max-width: 90%;
    width: 80%;
    left: 10%;
    right: 10%;
} */


.carousel-caption p {
    margin: 0;
    font-size: 18px;
    text-align: justify;
}

.list-group-mine  {
    background-color: #2699ca;
    background: rgba(24, 120, 242, 0.4);
    color: white;
    border-radius: 0px;
    display: inline-block;
  }

  .list-group-mine:hover {
    background: rgba(24, 120, 242, 0.5);
  }
.detail-card{
    
    
    border-bottom-right-radius: 0;

    border-bottom-left-radius: 0;  
    border-bottom-color: transparent;
}

.detail-card .card-img-top{
    object-fit: cover;
}

.card-layout{
    border-bottom-left-radius: 0px; /* Adjust the radius as needed */
    border-bottom-right-radius: 0px; /* Adjust the radius as needed */
    border-bottom-color: rgb(223, 78, 78);
}

.button-detail{
    border-top-right-radius: 0;

    border-top-left-radius: 0;  
}

.text-blue{
   color: #066d99;
}

